.top-bar-landing {
  box-sizing: border-box;
  padding: 0 40px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.page-heading {
  font-size: 24px;
  margin-left: 20px;
}

.topbar-select {
  box-sizing: border-box;
  padding: 7.5px 10px;
  font-size: 16px;
  cursor: pointer;
}

.btn-topbar {
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  background-color: royalblue;
  color: var(--secondary-color);
  cursor: pointer;
}

.btn-topbar:hover {
  opacity: 0.7;
}
